# ─── API ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL="http://localhost:3000"

# ─── Maps ─────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_GOOGLE_MAPS_KEY=""

# ─── Auth ─────────────────────────────────────────────────────────────────────
NEXTAUTH_SECRET="replace-me"
